---
import Metalayout from "~/layouts/Metalayout.astro";
import { Image } from "astro:assets";

import IconLogic from "~/icons/logic.svg";
import IconFormalize from "~/icons/formalize.svg";
import IconWeb from "~/icons/web.svg";
import IconOtomad from "~/icons/otomad.svg";
import IconDj from "~/icons/dj.svg";

import SvgSiteQRCode from "~/images/qrcode.svg";

import pngAtri1 from "~/images/index/atri1.png";
import pngChihaya1 from "~/images/index/chihaya1.png";
import pngDeutchBoy from "~/images/index/deutch_boy.png";
import pngDonaldVirus from "~/images/index/donaldvirus.gif";
import pngErio1 from "~/images/index/erio1.png";
import pngHeadphone from "~/images/index/headphone.jpg";
import pngHinata1 from "~/images/index/hinata1.png";
import pngHNS1 from "~/images/index/HNS1.png";
import pngIchigomashimaro1 from "~/images/index/ichigomashimaro1.png";
import pngIkari from "~/images/index/ikari.png";
import pngKana1 from "~/images/index/kana1.png";
import pngKomarin1 from "~/images/index/komarin1.png";
import pngKurumi1 from "~/images/index/kurumi1.png";
import pngKushieda1 from "~/images/index/kushieda1.png";
import pngLainSkate from "~/images/index/lainskate.gif";
import pngMadoka1 from "~/images/index/madoka1.png";
import pngMangenano from "~/images/index/mangenano.jpg";
import pngMetalcube from "~/images/index/metalcube.png";
import pngMinamike1 from "~/images/index/minamike1.png";
import pngNano1 from "~/images/index/nano1.png";
import pngOreimo1 from "~/images/index/oreimo1.png";
import pngRisa1 from "~/images/index/risa1.png";
import pngSAO from "~/images/index/sao.gif";
import pngShamiko1 from "~/images/index/shamiko1.png";
import pngTaiga1 from "~/images/index/taiga1.png";
import pngThanks from "~/images/index/thanks.png";
import pngTIVAC from "~/images/index/theinterviewersarecoming.png";
import pngTogetter1 from "~/images/index/togetter1.png";
import pngWithoutInduction from "~/images/index/without_induction.png";
import pngWTF1 from "~/images/index/eira_miyafuji1.png";
import pngWTF2 from "~/images/index/donald1.gif";
import pngYu1 from "~/images/index/yu1.png";
---

<Metalayout>
  <header class="w-full min-h-screen relative">
    <div class="wallpaper fixed top-0 left-0 w-screen h-screen overflow-hidden">
      <svg
        class="absolute w-full h-full inset-0 px-8 py-8 z-50"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <pattern
            id="star"
            width="31"
            height="31"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="15"
              y="15"
              width="1"
              height="1"
              fill="var(--color-chalk-1)"
              opacity="0.25"></rect>
          </pattern>
        </defs>

        <rect x="0" y="0" width="100%" height="100%" fill="url(#star)"></rect>
      </svg>

      <img
        src={import.meta.env.DEV
          ? "https://count.getloli.com/@sno2wman.net-dev?name=sno2wman.net-dev&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"
          : "https://count.getloli.com/@sno2wman.net?name=sno2wman.net&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"}
        class="absolute top-[29%] left-[9%] h-[126px] rotate-270 z-20"
      />

      <Image
        src={pngWTF2}
        alt="w"
        class:list={["absolute top-[22%] right-[14%] w-[160px] h-[96px]"]}
      />
      <Image
        src={pngWTF2}
        alt="w"
        class:list={["absolute top-[26%] right-[16%] w-[160px] h-[96px]"]}
      />
      <Image
        src={pngWTF2}
        alt="w"
        class:list={["absolute top-[30%] right-[18%] w-[160px] h-[96px]"]}
      />

      <Image
        src={pngWTF1}
        alt="w"
        class:list={["absolute bottom-[10%] left-[8%] w-[260px] h-[260px]"]}
      />

      <Image src={pngOreimo1} alt="w" class="oreimo-1" />
      <Image src={pngIkari} alt="w" class="ikari-1" />
      <Image src={pngErio1} alt="w" class="erio-1" />
      <Image src={pngDeutchBoy} alt="w" class="deutchboy" />
      <Image src={pngAtri1} alt="w" class="atri-1" />
      <Image src={pngDonaldVirus} alt="w" class="donaldvirus" />
      <Image src={pngHeadphone} alt="w" class="headphone" />
      <Image src={pngKana1} alt="w" class="kana-1" />
      <Image src={pngKurumi1} alt="w" class="kurumi-1" />
      <Image src={pngLainSkate} alt="w" class="lain-skate" />
      <Image src={pngMadoka1} alt="w" class="madoka-1" />
      <Image src={pngMangenano} alt="w" class="mangenano" />
      <Image src={pngNano1} alt="w" class="nano-1" />
      <Image src={pngRisa1} alt="w" class="risa-1" />
      <Image src={pngSAO} alt="w" class="sao" />
      <Image src={pngShamiko1} alt="w" class="shamiko-1" />
      <Image src={pngTaiga1} alt="w" class="taiga-1" />
      <Image src={pngWithoutInduction} alt="w" class="without-induction" />
      <Image src={pngChihaya1} alt="w" class="chihaya-1" />
      <Image src={pngKomarin1} alt="w" class="komarin-1" />
      <Image src={pngYu1} alt="w" class="yu-1" />
      <Image src={pngTogetter1} alt="w" class="togetter-1" />
      <Image src={pngTIVAC} alt="w" class="tivac" />
      <Image src={pngThanks} alt="w" class="thanks" />
      <Image src={pngMinamike1} alt="w" class="minamike-1" />
      <Image src={pngMetalcube} alt="w" class="metalcube" />
      <Image src={pngKushieda1} alt="w" class="kushieda-1" />
      <Image src={pngIchigomashimaro1} alt="w" class="ichigomashimaro-1" />
      <Image src={pngHNS1} alt="w" class="hns-1" />
      <Image src={pngHinata1} alt="w" class="hinata-1" />
    </div>

    <div
      class="nameplate relative lg:absolute m-auto inset-x-0 h-screen flex flex-col justify-center items-center lg:items-baseline w-full sm:w-[640px]"
    >
      <div
        class="name font-['Micro_5'] text-[2rem] sm:text-[3rem] tracking-[0.5em] w-full text-center bg-charcoal-1/50 backdrop-blur-md"
      >
        <span class="text-chalk-1"
          >SnO<sub class="text-accent-1">2</sub>WMaN</span
        ><span class="text-chalk-2">.net</span>
      </div>
      <div
        class="flex flex-col sm:flex-row items-center sm:jutify-center mt-4 sm:w-full px-0 sm:px-0 space-y-4 sm:space-y-0 sm:space-x-6"
      >
        <SvgSiteQRCode
          class="w-[160px] h-[160px] flex-shrink-0 p-[16px] bg-charcoal-1/50 backdrop-blur-md"
        />
        <div
          class="flex-grow flex flex-col space-y-2 px-8 py-8 bg-charcoal-1/50 backdrop-blur-md"
        >
          <div class="sitelink">
            <span>Twitter</span>
            <a href="https://twitter.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>GitHub</span>
            <a href="https://github.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Scrapbox</span>
            <a href="https://scrapbox.io/SnO2WMaN">/SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Nicovideo</span>
            <a href="https://www.nicovideo.jp/user/118012640">118012640</a>
          </div>
          <div class="sitelink">
            <span>Mail</span>
            <a href="mailto:me@sno2wman.net">me@sno2wman.net</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative lg:absolute lg:right-4 lg:bottom-4 w-full lg:w-[480px] p-8 lg:p-12 z-10 bg-charcoal-1/50 backdrop-blur-xs"
    >
      <a
        href="/interest"
        class="block text-chalk-1 mb-4 text-2xl tracking-[0.125em]"
      >
        興味分野
      </a>
      <div class="flex flex-col space-y-4">
        <a href="/interest#logic" class="interest-block">
          <IconLogic />
          <div>
            <span>論理学</span>
            <span>Logic</span>
          </div>
        </a>
        <a href="/interest#formalize" class="interest-block">
          <IconFormalize />
          <div>
            <span>数学の形式化</span>
            <span>Formalized Mathematics</span>
          </div>
        </a>
        <a href="/interest#webdev" class="interest-block">
          <IconWeb />
          <div>
            <span>Web開発</span>
            <span>Web Development</span>
          </div>
        </a>
        <a href="/interest#otomad" class="interest-block">
          <IconOtomad />
          <div>
            <span>音MAD</span>
            <span>OTOMAD</span>
          </div>
        </a>
        <a href="/interest#dj" class="interest-block">
          <IconDj />
          <div>
            <span>DJ</span>
            <span>DJ</span>
          </div>
        </a>
      </div>
    </div>
  </header>
</Metalayout>

<style>
  @reference "~/styles/global.css";

  header {
    @apply bg-charcoal-1;
  }

  .sitename {
    @apply font-mono text-chalk-1;
    font-size: 1.5em;
    letter-spacing: 0.5em;
  }

  .nameplate {
  }

  .sitelink {
    font-size: 0.8rem;
    @apply flex text-chalk-1;
    & > span {
      flex-grow: 1;
      display: inline-flex;
      flex-shrink: 0;
      text-align: right;
      letter-spacing: 0.05em;
      &::after {
        content: "";
        width: 100%;
        height: 50%;
        flex-grow: 1;
        @apply border-b border-dashed border-charcoal-2;
        margin: 0 0.5em;
        padding: 0 1em;
      }
    }
    & > a {
      @apply font-mono underline text-right;
    }
  }

  .interest-block {
    @apply flex items-center;

    & > svg {
      @apply w-8 h-8 fill-chalk-1 mr-8 shrink-0;
    }

    & > div {
      @apply lg:w-full flex flex-col lg:flex-row lg:items-center;
    }

    span {
      @apply text-chalk-1;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.125, 0.6, 0.15, 0.94);

      &:nth-of-type(1) {
        text-align: left;
        flex-grow: 1;
        letter-spacing: 0.25em;
        transition-property: letter-spacing;
        @apply font-sans;
        font-size: 0.9rem;
      }
      &:nth-of-type(2) {
        flex-shrink: 0;
        letter-spacing: 0em;
        transition-property: letter-spacing margin-right;
        @apply font-mono italic;
        font-size: 0.8rem;
        flex-grow: 1;
        @apply lg:text-right;
      }
    }
    &:hover {
      span {
        &:nth-of-type(1) {
          letter-spacing: 0;
          @apply tracking-[0];
        }
        &:nth-of-type(2) {
          @apply tracking-[0.1em] lg:m-[-0.1em];
        }
      }
    }
  }

  .wallpaper {
    @apply select-none;

    & > .ikari-1 {
      position: absolute;
      top: 12%;
      left: 25%;
      width: 428px;
      height: 126px;
      filter: contrast(1.25);
      z-index: 16;
    }
    & > .erio-1 {
      position: absolute;
      bottom: 7%;
      left: 50%;
      width: 326px;
      height: 96px;
      z-index: 2;
    }
    & > .deutchboy {
      position: absolute;
      top: 52%;
      left: -2.5%;
      width: 640px;
      height: 160px;
    }
    & > .atri-1 {
      position: absolute;
      top: 15%;
      right: 5%;
      width: 160px;
      height: 160px;
    }
    & > .donaldvirus {
      position: absolute;
      bottom: 15%;
      left: 20%;
      width: 160px;
      height: 96px;
    }
    & > .headphone {
      position: absolute;
      top: 48%;
      right: 13%;
      width: 160px;
      height: 160px;
      z-index: 9;
    }
    & > .kana-1 {
      position: absolute;
      top: 5%;
      left: 9%;
      width: 240px;
      height: 320px;
    }
    & > .kurumi-1 {
      position: absolute;
      top: 70%;
      left: 36%;
      width: 180px;
      height: 180px;
    }
    & > .lain-skate {
      position: absolute;
      top: 40%;
      right: 5%;
      width: 160px;
      height: 160px;
    }
    & > .madoka-1 {
      position: absolute;
      bottom: -10%;
      right: -5%;
      width: 640px;
      height: 320px;
      z-index: 1;
    }
    & > .mangenano {
      position: absolute;
      bottom: 5%;
      left: 25%;
      width: 320px;
      height: 60px;
      z-index: 4;
    }
    & > .nano-1 {
      position: absolute;
      top: 65%;
      left: 24%;
      width: 640px;
      height: 60px;
      z-index: 8;
    }
    & > .oreimo-1 {
      position: absolute;
      top: -25%;
      right: 35%;
      width: 480px;
      height: 480px;
      z-index: -1;
    }
    & > .risa-1 {
      position: absolute;
      top: -2.5%;
      left: 2.5%;
      width: 160px;
      height: 320px;
      z-index: 3;
    }
    & > .sao {
      position: absolute;
      top: 70%;
      left: 60%;
      width: 480px;
      height: 160px;
      z-index: -2;
    }
    & > .shamiko-1 {
      position: absolute;
      top: 20%;
      right: 43%;
      width: 720px;
      height: 160px;
      z-index: 5;
    }
    & > .taiga-1 {
      position: absolute;
      bottom: 40%;
      right: 23%;
      width: 240px;
      height: 520px;
      z-index: -2;
    }
    & > .without-induction {
      position: absolute;
      top: 5%;
      right: 25%;
      width: 240px;
      height: 160px;
      z-index: 7;
    }
    & > .chihaya-1 {
      position: absolute;
      top: -15%;
      left: 76%;
      width: 480px;
      height: 320px;
      z-index: -2;
    }
    & > .komarin-1 {
      position: absolute;
      bottom: 48%;
      left: 64%;
      width: 480px;
      height: 60px;
      z-index: 2;
    }
    & > .togetter-1 {
      position: absolute;
      bottom: 30%;
      right: 32%;
      width: 220px;
      height: 60px;
      z-index: 3;
    }
    & > .tivac {
      position: absolute;
      bottom: 25%;
      right: 5%;
      width: 240px;
      height: 160px;
      z-index: 1;
    }
    & > .minamike-1 {
      position: absolute;
      bottom: 0%;
      left: 1.5%;
      width: 320px;
      height: 120px;
      z-index: 3;
    }
    & > .metalcube {
      position: absolute;
      top: 40%;
      left: 25%;
      width: 120px;
      height: 120px;
      z-index: 4;
    }
    & > .ichigomashimaro-1 {
      position: absolute;
      top: 1%;
      left: 16%;
      width: 320px;
      height: 160px;
      z-index: 8;
    }
    & > .yu-1 {
      position: absolute;
      bottom: -5%;
      left: 38%;
      width: 240px;
      height: 160px;
      z-index: 10;
    }
    & > .thanks {
      position: absolute;
      bottom: 10%;
      right: 37%;
      width: 320px;
      height: 160px;
      z-index: -2;
    }
    & > .kushieda-1 {
      position: absolute;
      bottom: 5%;
      left: 26%;
      width: 160px;
      height: 320px;
      z-index: -3;
    }
    & > .hns-1 {
      position: absolute;
      bottom: 48%;
      right: -7.5%;
      width: 320px;
      height: 320px;
      z-index: -2;
    }
    & > .hinata-1 {
      position: absolute;
      bottom: 15%;
      right: 20%;
      width: 160px;
      height: 320px;
      z-index: -1;
    }
  }
</style>
