---
import Metalayout from "~/layouts/Metalayout.astro";
import { Image } from "astro:assets";

import IconLogic from "~/icons/logic.svg";
import IconFormalize from "~/icons/formalize.svg";
import IconWeb from "~/icons/web.svg";
import IconOtomad from "~/icons/otomad.svg";
import IconDj from "~/icons/dj.svg";

import SvgSiteQRCode from "~/images/qrcode.svg";

// import pngDonaldVirus from "~/images/index/donaldvirus.gif";
// import pngLainSkate from "~/images/index/lainskate.gif";
// import pngSAO from "~/images/index/sao.gif";
import pngAkane1 from "~/images/index/akane1.jpg";
import pngAoi1 from "~/images/index/aoi1.png";
import pngAoi2 from "~/images/index/aoi2.png";
import pngAtri1 from "~/images/index/atri1.png";
import pngAtri2 from "~/images/index/atri2.png";
import pngBiorante1 from "~/images/index/biorante1.png";
import pngBiriheri1 from "~/images/index/biriheri1.png";
import pngChihaya1 from "~/images/index/chihaya1.png";
import pngContradiction1 from "~/images/index/contradiction.png";
import pngDanime from "~/images/index/danime.png";
import pngDeutchBoy from "~/images/index/deutch_boy.png";
import pngDoge1 from "~/images/index/doge1.jpg";
import pngDonald1 from "~/images/index/donald1.png";
import pngEiraMiyafuji1 from "~/images/index/eira_miyafuji1.png";
import pngErio1 from "~/images/index/erio1.png";
import pngEva1 from "~/images/index/eva1.png";
import pngExe1 from "~/images/index/exe1.jpg";
import pngExe2 from "~/images/index/exe2.jpg";
import pngGurugurume from "~/images/index/gurugurume.png";
import pngHajime1 from "~/images/index/hajime1.png";
import pngHarunopasi from "~/images/index/harunopasi.png";
import pngHeadphone from "~/images/index/headphone.jpg";
import pngHG1 from "~/images/index/hg1.jpg";
import pngHinata1 from "~/images/index/hinata1.png";
import pngHNS1 from "~/images/index/HNS1.png";
import pngIchigomashimaro1 from "~/images/index/ichigomashimaro1.png";
import pngInami1 from "~/images/index/inami1.png";
import pngIyasugiru from "~/images/index/iyasugiru.png";
import pngJakku1 from "~/images/index/jakku1.png";
import pngKana1 from "~/images/index/kana1.png";
import pngKomarin1 from "~/images/index/komarin1.png";
import pngKotoura1 from "~/images/index/kotoura1.png";
import pngKurumi1 from "~/images/index/kurumi1.png";
import pngKushieda1 from "~/images/index/kushieda1.png";
import pngKyoto1 from "~/images/index/kyoto1.png";
import pngMadoka1 from "~/images/index/madoka1.png";
import pngMan1 from "~/images/index/man1.png";
import pngMangenano from "~/images/index/mangenano.jpg";
import pngMei1 from "~/images/index/mei1.png";
import pngMetalcube from "~/images/index/metalcube.png";
import pngMinamike1 from "~/images/index/minamike1.png";
import pngNano1 from "~/images/index/nano1.png";
import pngNightcore from "~/images/index/nightcore.png";
import pngOreimo1 from "~/images/index/oreimo1.png";
import pngOtaku1 from "~/images/index/otaku1.png";
import pngParn1 from "~/images/index/parn1.png";
import pngPeach1 from "~/images/index/peach1.png";
import pngRem1 from "~/images/index/rem1.jpg";
import pngRenako1 from "~/images/index/renako1.png";
import pngRenge1 from "~/images/index/renge1.png";
import pngRisa1 from "~/images/index/risa1.png";
import pngShamiko1 from "~/images/index/shamiko1.png";
import pngTaiga1 from "~/images/index/taiga1.png";
import pngTaxi1 from "~/images/index/taxi1.jpg";
import pngThanks from "~/images/index/thanks.png";
import pngTIVAC from "~/images/index/theinterviewersarecoming.png";
import pngTogetter1 from "~/images/index/togetter1.png";
import pngUtsu1 from "~/images/index/utsu1.jpg";
import pngWazzup from "~/images/index/wazzup.png";
import pngWithoutInduction from "~/images/index/without_induction.png";
import pngYamada1 from "~/images/index/yamada1.png";
import pngYou1 from "~/images/index/you1.png";
import pngYu1 from "~/images/index/yu1.png";
---

<script>
  function shuffle<T>(array: T[]): T[] {
    let copy = [...array];
    for (let i = copy.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [copy[i], copy[j]] = [copy[j], copy[i]];
    }
    return copy;
  }

  const $samplings = shuffle(
    document
      .querySelectorAll<HTMLDivElement>(".wallpaper > .sampling")
      .entries()
      .toArray()
      .map(([i, el]) => el)
  );
  const nowInit = Date.now();

  for (let i = 0; i < $samplings.length; i++) {
    const $sampling = $samplings[i];

    const x = Math.random() ** 0.75 * 60 - 15;
    if (Math.random() < 0.5) $sampling.style.left = `${x}%`;
    else $sampling.style.right = `${x}%`;

    const y = Math.random() ** 0.75 * 60 - 15;
    if (Math.random() < 0.5) $sampling.style.top = `${y}%`;
    else $sampling.style.bottom = `${y}%`;

    /*
    $sampling.style.filter = [
      `saturate(${Math.random() * 350}%)`,
      `brightness(${Math.random() * 120 + 40}%)`,
      `contrast(${Math.random() * 100 + 50}%)`,
    ].join(" ");
    */

    const $samplingImg = $sampling.querySelector("img")!;
    const trigger = () => {
      const wt = Math.min(Date.now() - nowInit, 3500);

      const p = ($samplings.length - i) / $samplings.length;
      const w = (p + Math.random() * 0.25) ** 3 * 360 + 160;
      const h = w * (0.125 + (Math.random() + 0.1) ** 2 * 3.25);

      $sampling.style.zIndex = `${i - $samplings.length}`;

      $sampling.style.width = `${w}px`;
      $sampling.style.height = `${h}px`;

      switch (Math.floor(Math.random() * 4)) {
        case 0:
          $sampling.classList.add("animation-h-0");
          break;
        case 1:
          $sampling.classList.add("animation-h-1");
          break;
        case 2:
          $sampling.classList.add("animation-v-0");
          break;
        case 3:
          $sampling.classList.add("animation-v-1");
          break;
      }

      $samplingImg.style.animationDelay = `${75 + 500 * (1 - p) - wt}ms`;
      $samplingImg.style.animationDuration = `${100}ms`;
      $samplingImg.style.animationPlayState = "running";
    };

    $samplingImg.addEventListener("load", trigger);
    if ($samplingImg.complete) trigger();
  }
</script>

<Metalayout>
  <header class="w-full min-h-screen relative">
    <div class="wallpaper fixed top-0 left-0 w-screen h-screen overflow-hidden">
      <svg
        class="absolute w-full h-full inset-0 px-8 py-8 z-9999"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs>
          <pattern
            id="star"
            width="31"
            height="31"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="15"
              y="15"
              width="1"
              height="1"
              fill="var(--color-chalk-1)"
              opacity="0.25"></rect>
          </pattern>
        </defs>

        <rect x="0" y="0" width="100%" height="100%" fill="url(#star)"></rect>
      </svg>

      <img
        src={import.meta.env.DEV
          ? "https://count.getloli.com/@sno2wman.net-dev?name=sno2wman.net-dev&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"
          : "https://count.getloli.com/@sno2wman.net?name=sno2wman.net&theme=green&padding=8&offset=0&align=bottom&pixelated=1&darkmode=0"}
        class="absolute top-[29%] left-[9%] h-[126px] rotate-270 z-9999 saturate-50 brightness-50"
      />

      {
        [
          { src: pngAkane1, alt: "akane" },
          { src: pngAoi1, alt: "aoi" },
          { src: pngAoi2, alt: "ikari" },
          { src: pngAtri1, alt: "atri" },
          { src: pngAtri2, alt: "atri2" },
          { src: pngBiorante1, alt: "biorante" },
          { src: pngBiriheri1, alt: "biriheri" },
          { src: pngChihaya1, alt: "chihaya" },
          { src: pngContradiction1, alt: "contradiction" },
          { src: pngDanime, alt: "danime" },
          { src: pngDeutchBoy, alt: "deutch_boy" },
          { src: pngDoge1, alt: "doge" },
          { src: pngDonald1, alt: "donald1" },
          { src: pngEiraMiyafuji1, alt: "eira_miyafuji" },
          { src: pngErio1, alt: "erio" },
          { src: pngEva1, alt: "eva" },
          { src: pngExe1, alt: "exe1" },
          { src: pngExe2, alt: "exe2" },
          { src: pngGurugurume, alt: "gurugurume" },
          { src: pngHajime1, alt: "hajime" },
          { src: pngHarunopasi, alt: "harunopasi" },
          { src: pngHeadphone, alt: "headphone" },
          { src: pngHG1, alt: "hg" },
          { src: pngHinata1, alt: "hinata" },
          { src: pngHNS1, alt: "HNS" },
          { src: pngIchigomashimaro1, alt: "ichigomashimaro" },
          { src: pngInami1, alt: "inami" },
          { src: pngIyasugiru, alt: "iyasugiru" },
          { src: pngJakku1, alt: "jakku" },
          { src: pngKana1, alt: "kana" },
          { src: pngKomarin1, alt: "komarin" },
          { src: pngKotoura1, alt: "kotoura" },
          { src: pngKurumi1, alt: "kurumi" },
          { src: pngKushieda1, alt: "kushieda" },
          { src: pngKyoto1, alt: "kyoto" },
          { src: pngMadoka1, alt: "madoka" },
          { src: pngMan1, alt: "man" },
          { src: pngMangenano, alt: "mangenano" },
          { src: pngMei1, alt: "mei" },
          { src: pngMetalcube, alt: "metalcube" },
          { src: pngMinamike1, alt: "minamike" },
          { src: pngNano1, alt: "nano" },
          { src: pngNightcore, alt: "nightcore" },
          { src: pngOreimo1, alt: "oreimo" },
          { src: pngOtaku1, alt: "otaku" },
          { src: pngParn1, alt: "parn" },
          { src: pngPeach1, alt: "peach" },
          { src: pngRem1, alt: "rem1" },
          { src: pngRenako1, alt: "renako" },
          { src: pngRenge1, alt: "renge" },
          { src: pngRisa1, alt: "risa" },
          { src: pngShamiko1, alt: "shamiko" },
          { src: pngTaiga1, alt: "taiga" },
          { src: pngTaxi1, alt: "taxi" },
          { src: pngThanks, alt: "thanks" },
          { src: pngTIVAC, alt: "theinterviewersarecoming" },
          { src: pngTogetter1, alt: "togetter" },
          { src: pngUtsu1, alt: "utsu" },
          { src: pngWazzup, alt: "wazzup" },
          { src: pngWithoutInduction, alt: "without_induction" },
          { src: pngYamada1, alt: "yamada" },
          { src: pngYou1, alt: "you" },
          { src: pngYu1, alt: "yu" },
          // { src: pngDonald1, alt: "donald" },
          // { src: pngDonaldVirus, alt: "donaldvirus" },
          // { src: pngLainSkate, alt: "lainskate" },
          // { src: pngSAO, alt: "sao" },
        ].map(({ src, alt }) => (
          <div class="sampling absolute">
            <Image
              src={src}
              alt={alt}
              loading="eager"
              class:list={["absolute inset-0 w-full h-full"]}
            />
          </div>
        ))
      }
    </div>

    <div
      class="nameplate relative lg:absolute m-auto inset-x-0 h-screen flex flex-col justify-center items-center lg:items-baseline w-full sm:w-[640px]"
    >
      <div
        class="name font-pixel text-[2rem] sm:text-[3rem] tracking-[0.5em] w-full text-center bg-charcoal-1/75"
      >
        <span class="text-chalk-1"
          >SnO<sub class="text-accent-1">2</sub>WMaN</span
        ><span class="text-chalk-2">.net</span>
      </div>
      <div
        class="flex flex-col sm:flex-row items-center sm:jutify-center mt-4 sm:w-full px-0 sm:px-0 space-y-4 sm:space-y-0 sm:space-x-6"
      >
        <SvgSiteQRCode
          class="w-[160px] h-[160px] flex-shrink-0 p-[16px] bg-charcoal-1/75"
        />
        <div
          class="flex-grow flex flex-col space-y-2 px-8 py-8 bg-charcoal-1/75"
        >
          <div class="sitelink">
            <span>Twitter</span>
            <a href="https://twitter.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>GitHub</span>
            <a href="https://github.com/SnO2WMaN">@SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Scrapbox</span>
            <a href="https://scrapbox.io/SnO2WMaN">/SnO2WMaN</a>
          </div>
          <div class="sitelink">
            <span>Nicovideo</span>
            <a href="https://www.nicovideo.jp/user/118012640">118012640</a>
          </div>
          <div class="sitelink">
            <span>Mail</span>
            <a href="mailto:me@sno2wman.net">me@sno2wman.net</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="relative lg:absolute lg:right-4 lg:bottom-4 w-full lg:w-[480px] p-8 lg:p-12 z-10 bg-charcoal-1/75"
    >
      <a
        href="/interest"
        class="block text-chalk-1 mb-4 text-2xl tracking-[0.125em]"
      >
        興味分野
      </a>
      <div class="flex flex-col space-y-4">
        <a href="/interest#logic" class="interest-block">
          <IconLogic />
          <div>
            <span>論理学</span>
            <span>Logic</span>
          </div>
        </a>
        <a href="/interest#formalize" class="interest-block">
          <IconFormalize />
          <div>
            <span>数学の形式化</span>
            <span>Formalized Mathematics</span>
          </div>
        </a>
        <a href="/interest#webdev" class="interest-block">
          <IconWeb />
          <div>
            <span>Web開発</span>
            <span>Web Development</span>
          </div>
        </a>
        <a href="/interest#otomad" class="interest-block">
          <IconOtomad />
          <div>
            <span>音MAD</span>
            <span>OTOMAD</span>
          </div>
        </a>
        <a href="/interest#dj" class="interest-block">
          <IconDj />
          <div>
            <span>DJ</span>
            <span>DJ</span>
          </div>
        </a>
      </div>
    </div>
  </header>
</Metalayout>

<style>
  @reference "~/styles/global.css";

  header {
    @apply bg-charcoal-1;
  }

  .sitelink {
    font-size: 0.8rem;
    @apply flex text-chalk-1;
    & > span {
      flex-grow: 1;
      display: inline-flex;
      flex-shrink: 0;
      text-align: right;
      letter-spacing: 0.05em;
      &::after {
        content: "";
        width: 100%;
        height: 50%;
        flex-grow: 1;
        @apply border-b border-dashed border-charcoal-2;
        margin: 0 0.5em;
        padding: 0 1em;
      }
    }
    & > a {
      @apply font-mono underline text-right;
    }
  }

  .interest-block {
    @apply flex items-center;

    & > svg {
      @apply w-8 h-8 fill-chalk-1 mr-8 shrink-0;
    }

    & > div {
      @apply lg:w-full flex flex-col lg:flex-row lg:items-center;
    }

    span {
      @apply text-chalk-1;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.125, 0.6, 0.15, 0.94);

      &:nth-of-type(1) {
        text-align: left;
        flex-grow: 1;
        letter-spacing: 0.25em;
        transition-property: letter-spacing;
        @apply font-sans;
        font-size: 0.9rem;
      }
      &:nth-of-type(2) {
        flex-shrink: 0;
        letter-spacing: 0em;
        transition-property: letter-spacing margin-right;
        @apply font-mono italic;
        font-size: 0.8rem;
        flex-grow: 1;
        @apply lg:text-right;
      }
    }
    &:hover {
      span {
        &:nth-of-type(1) {
          letter-spacing: 0;
          @apply tracking-[0];
        }
        &:nth-of-type(2) {
          @apply tracking-[0.1em] lg:m-[-0.1em];
        }
      }
    }
  }

  @keyframes animation-h-0 {
    from {
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animation-h-1 {
    from {
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animation-v-0 {
    from {
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes animation-v-1 {
    from {
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .wallpaper {
    @apply select-none;

    & > .sampling {
      overflow: hidden;
      transform-origin: center;
      & > img {
        animation-fill-mode: both;
        animation-play-state: paused;
        animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 0;
        will-change: transform opacity;
      }
      &.animation-h-0 > img {
        animation-name: animation-h-0;
      }
      &.animation-h-1 > img {
        animation-name: animation-h-1;
      }
      &.animation-v-0 > img {
        animation-name: animation-v-0;
      }
      &.animation-v-1 > img {
        animation-name: animation-v-1;
      }
    }
  }
</style>
