---
import NormalLayout from "~/layouts/NormalLayout.astro";

import links from "../data/links.json";
import metalinks from "../data/metalinks.json";
---

<NormalLayout title="Social" description="Social">
  <div class="grid gap-y-4">
    <div>
      <h2
        id="links"
        class="font-sans text-xl text-slate-900 pl-4 py-2 mb-2 border-slate-900 border-l-4"
      >
        <a href="#links">リンク一覧</a>
      </h2>
      <p class="font-serif text-sm text-slate-900">
        ここには私が知っているいくつかのサイトへのリンクを載せていく。
        追加や削除の要望は、お手数ですが<a href="/#contact" class="underline"
          >連絡先</a
        >または<a
          href="https://github.com/SnO2WMaN/sno2wman.net/issues"
          class="underline">Issue</a
        >より連絡してください。
      </p>
      <div class="mt-2 flex flex-col gap-y-2">
        {
          links.map(({ hostname, url, sitename }) => (
            <article class="flex flex-col md:flex-row items-baseline">
              <div>
                <a href={url} class="text-slate-900 hover:underline">
                  {sitename}
                </a>
              </div>
              {hostname && (
                <v class="md:ml-2 text-slate-700 text-sm">{hostname}</v>
              )}
              <div class="mt-1 md:mt-0 flex-grow text-left md:text-right font-mono text-xs text-slate-600">
                {url}
              </div>
            </article>
          ))
        }
      </div>
    </div>
    <div>
      <h2
        id="metalinks"
        class="font-sans text-xl text-slate-900 pl-4 py-2 mb-2 border-slate-900 border-l-4"
      >
        <a href="#metalinks">メタリンク一覧</a>
      </h2>
      <p class="font-serif text-sm text-slate-900">
        ここには私が知っている<strong class="font-semibold"
          >「いくつかのサイトへのリンク」</strong
        >へのリンクを載せていく。 追加や削除の要望は、お手数ですが<a
          href="/#contact"
          class="underline">連絡先</a
        >または<a
          href="https://github.com/SnO2WMaN/sno2wman.net/issues"
          class="underline">Issue</a
        >より連絡してください。
      </p>
      <div class="mt-2 flex flex-col gap-y-2">
        {
          metalinks.map(({ hostname, url, sitename }) => (
            <article class="flex flex-col md:flex-row items-baseline">
              <div>
                <a href={url} class="text-slate-900 hover:underline">
                  {sitename}
                </a>
              </div>
              {hostname && (
                <div class="md:ml-2 text-slate-700 text-sm">{hostname}</div>
              )}
              <div class="mt-1 md:mt-0 flex-grow text-left md:text-right font-mono text-xs text-slate-600">
                {url}
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</NormalLayout>
